@font-face {
  font-family: "Bellota";
  src: url("Bellota-Regular.otf") format("opentype");
}
@font-face {
  font-family: "awesome";
  src: url("awesome/on-server/webfonts/fa-regular-400.ttf");
}
.logoHead {
  width: 60vw;
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.centre {
  display: flex;
  margin: auto;
  justify-content: space-around;
  margin: 5vh 2vw;

}
.formulaire {

  text-align: center;
  font-family: "Bellota";
  width: 80vw;
  border: 5px solid #303030;
  border-radius: 5px;
  margin: auto;
  background-color: #15c5bd;
  box-shadow: 0 2vh 2vw 2vh #303030;
}
body {
  height: 100vh;
  width: 100vw;
}
.formulaire img {
  height: 220px;
  width: auto;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 300px;
}
input:invalid {
 border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

.gauche {
  width: 30vw;
  background-color: #fff;
  padding-bottom: 5vh;
  border: 3px solid #303030;

}


.info1 {
  display: flex;
  padding: auto;
  margin: 4vh;
  justify-content: space-around;
}
.info1 input {
  height: 2vh;
}
.paysMail {
  display:inline;

}
.info2 {
  height: 6vh;
}

.droite{
  padding:5vh;
  width: 30vw;
  background-color: #fff;
  padding-bottom: 5vh;
  border: 3px solid #303030;
}

.form--msg-sujet{
  display:block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form--msg-area{
  display:block;
  resize: none;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form--msg-btn {
  width: 5vw;
  height: 3vh;
  font-family: "Bellota";
  border-radius: 2.5vw;
}
.bouton {
  margin: 5vh auto;
  padding: 2vh 0;
}
.copySocial{
  display: flex;
  justify-content: space-between;
}
.copy {
  text-align: left;
}
.social {
  font-size: 30px;
  text-align: right;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 10vw;
  margin-right: 1vw;
}

.textBox {
  width: 40vw;
  background-color: #fff;
  text-align: justify;
  margin : auto auto 9vh auto;
  padding: 1vh 1vw;

}
